# Build and train the model in a specific sector: Banks

You can try any sector you want by replacing the `sector` in the code

In [11]:
# Load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sys
sys.path.append('..')

In [12]:
# Load data from csv file
data_companies = pd.read_csv('ticker-overview.csv')
data_companies = data_companies.drop('Unnamed: 0', axis = 1)

In [13]:
data_companies['industryEn'].value_counts()

Construction & Materials       335
Industrial Goods & Services    265
Food & Beverage                150
Utilities                      145
Real Estate                    125
Basic Resources                110
Personal & Household Goods      77
Chemicals                       73
Health Care                     59
Financial Services              55
Travel & Leisure                50
Media                           41
Retail                          32
Technology                      30
Banks                           27
Automobiles & Parts             15
Insurance                       12
Oil & Gas                       12
Telecommunications               8
Name: industryEn, dtype: int64

In [14]:
# Only pick stickers from HOSE and HNX 
df = pd.read_csv('list-company-by-sector/Banks.csv')
bank_df = df.drop(df[(df['exchange'] == 'UPCOM') | (df['noShareholders'] == 0.0)].index)
bank_df.head()

,exchange,shortName,industryID,industryIDv2,industry,industryEn,establishedYear,noEmployees,noShareholders,foreignPercent,...,deltaInMonth,deltaInYear,outstandingShare,issueShare,companyType,ticker,status,code,message,traceId
1,HOSE,ACB,289.0,8355.0,Ngân hàng,Banks,1993.0,11008.0,44011.0,0.300,...,-0.012,0.244,3377.4,3377.4,NH,ACB,NaN,NaN,NaN,NaN
2,HOSE,BIDV,289.0,8355.0,Ngân hàng,Banks,1993.0,25416.0,36773.0,0.173,...,0.002,0.347,5058.5,5058.5,NH,BID,NaN,NaN,NaN,NaN
6,HOSE,HDBank,289.0,8355.0,Ngân hàng,Banks,1992.0,13992.0,6015.0,0.190,...,0.097,0.136,2515.3,2530.3,NH,HDB,NaN,NaN,NaN,NaN
8,HOSE,LienVietPostBank,289.0,8355.0,Ngân hàng,Banks,2008.0,8105.0,59906.0,0.049,...,0.073,0.180,1729.1,1729.1,NH,LPB,NaN,NaN,NaN,NaN
9,HOSE,MBBank,289.0,8355.0,Ngân hàng,Banks,1994.0,15910.0,126621.0,0.232,...,0.015,-0.043,4534.0,4534.0,NH,MBB,NaN,NaN,NaN,NaN

In [15]:
import os
import pandas as pd
import numpy as np

# Define the sector of interest
sector = 'Banks'

# Load the ticket overview dataset
ticker_overview = pd.read_csv('ticker-overview.csv')

# Select the tickers for companies in the sector of interest
tickers = ticker_overview.loc[ticker_overview['industryEn'] == sector, 'ticker'].tolist()

In [16]:
# Load the historical price data for the selected tickers
paths = []  # List to store individual DataFrames

for ticker in tickers:
    exchange = ticker_overview.loc[ticker_overview['ticker'] == ticker, 'exchange'].iloc[0]
    
    if exchange == 'HOSE':
        path = os.path.join('stock-historical-data', ticker + '-VNINDEX-History.csv')
        paths.append(path)
            
    elif exchange == 'HNX':
        path = os.path.join('stock-historical-data', ticker + '-' + exchange + 'Index' + '-History.csv')
        paths.append(path)
            
    elif exchange == 'UPCOM':
        continue

In [17]:
paths

['stock-historical-data/ACB-VNINDEX-History.csv',
 'stock-historical-data/BID-VNINDEX-History.csv',
 'stock-historical-data/CTG-VNINDEX-History.csv',
 'stock-historical-data/EIB-VNINDEX-History.csv',
 'stock-historical-data/HDB-VNINDEX-History.csv',
 'stock-historical-data/LPB-VNINDEX-History.csv',
 'stock-historical-data/MBB-VNINDEX-History.csv',
 'stock-historical-data/MSB-VNINDEX-History.csv',
 'stock-historical-data/BAB-HNXIndex-History.csv',
 'stock-historical-data/NVB-HNXIndex-History.csv',
 'stock-historical-data/OCB-VNINDEX-History.csv',
 'stock-historical-data/SSB-VNINDEX-History.csv',
 'stock-historical-data/SHB-VNINDEX-History.csv',
 'stock-historical-data/STB-VNINDEX-History.csv',
 'stock-historical-data/TCB-VNINDEX-History.csv',
 'stock-historical-data/TPB-VNINDEX-History.csv',
 'stock-historical-data/VCB-VNINDEX-History.csv',
 'stock-historical-data/VIB-VNINDEX-History.csv',
 'stock-historical-data/VPB-VNINDEX-History.csv']

In [18]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
window_size = 30
X_data, y_data = [], []
for path in paths:
    df = pd.read_csv(path)
    df1 = df.reset_index()['Close']
    df1 = scaler.fit_transform(np.array(df1).reshape(-1,1))
    for i in range(len(df1)-window_size-7):
        a = df1[i:(i + window_size)]
        X_data.append(a)
        b = df1[(i + window_size):(i + window_size+7)] 
        y_data.append(b)

In [19]:
X_data[0]

array([[0.15595229],
       [0.16493346],
       [0.17231474],
       [0.18907716],
       [0.18907716],
       [0.18191404],
       [0.17133299],
       [0.15853392],
       [0.15755218],
       [0.15755218],
       [0.13998982],
       [0.14017162],
       [0.16453349],
       [0.17751436],
       [0.18387754],
       [0.17333285],
       [0.17471457],
       [0.17689623],
       [0.18151407],
       [0.18151407],
       [0.18151407],
       [0.18449567],
       [0.18347757],
       [0.17191477],
       [0.17551451],
       [0.17871428],
       [0.19009527],
       [0.19009527],
       [0.19547669],
       [0.19547669]])

In [20]:
y_data[0]

array([[0.19525853],
       [0.2054396 ],
       [0.2110392 ],
       [0.21005745],
       [0.20743946],
       [0.21383899],
       [0.21583885]])

In [21]:
### Split the data into training, validation and test set
from helper_functions import data_preprocessing as pp
X_train, y_train, X_val, y_val, X_test, y_test = pp.split_dataset(X_data, y_data, 0.1)

print("Shape of training set: ", X_train.shape)
print("Shape of validation set: ", X_val.shape)
print("Shape of test set: ", X_test.shape)

Shape of training set:  (32450, 30, 1)
Shape of validation set:  (3606, 30, 1)
Shape of test set:  (4007, 30, 1)

In [22]:
### Create and train the model
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dropout, Dense, BatchNormalization
from tensorflow.keras.callbacks import EarlyStopping

# Define the LSTM model
model = Sequential()
model.add(LSTM(256, return_sequences=True, input_shape=(30, 1), activation='relu'))  # LSTM layer with 128 units
model.add(Dropout(0.5))  # Dropout layer for regularization
model.add(LSTM(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))  
model.add(Dense(7))  # Dense output layer with 7 units

early_stopping = EarlyStopping(monitor='val_mse', patience=10, restore_best_weights=True)

# Compile and train the model with Mean Squared Error loss function
model.compile(optimizer= tf.keras.optimizers.Adam(learning_rate=0.01), loss='mse', metrics=['mse'])
model.fit(X_train,y_train,validation_data=(X_val,y_val),epochs=20,batch_size=1028,verbose=1,callbacks = [early_stopping])

WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
WARNING:tensorflow:Layer lstm_1 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

Epoch 1/20
32/32 [==============================] - 12s 130ms/step - loss: 1.3761 - mse: 1.3761 - val_loss: 0.0031 - val_mse: 0.0031
Epoch 2/20
32/32 [==============================] - 4s 115ms/step - loss: 0.0127 - mse: 0.0127 - val_loss: 0.0020 - val_mse: 0.0020
Epoch 3/20
32/32 [==============================] - 5s 159ms/step - loss: 0.0097 - mse: 0.0097 - val_loss: 0.0019 - val_mse: 0.0019
Epoch 4/20
32/32 [==============================] - 4s 122ms/step - loss: 0.0090 - mse: 0.0090 - val_loss: 0.0015 - val_mse: 0.0015
Epoch 5/20
32/32 [==============================] - 4s 123ms/step - loss: 0.0081 - mse: 0.0081 - val_loss: 0.0019 - val_mse: 0.0019
Epoch 6/20
32/32 [==============================] - 5s 155ms/step - loss: 0.0079 - mse: 0.0079 - val_loss: 0.0020 - val_mse: 0.0020
Epoch 7/20
32/32 [==============================] - 4s 117ms/step - loss: 0.0080 - mse: 0.0080 - val_loss: 0.0036 - val_mse: 0.0036
Epoch 8/20
32/32 [==============================] - 4s 115ms/step - loss: 0.0073 - mse: 0.0073 - val_loss: 0.0022 - val_mse: 0.0022
Epoch 9/20
32/32 [==============================] - 5s 158ms/step - loss: 0.0067 - mse: 0.0067 - val_loss: 0.0021 - val_mse: 0.0021
Epoch 10/20
32/32 [==============================] - 4s 115ms/step - loss: 0.0063 - mse: 0.0063 - val_loss: 0.0026 - val_mse: 0.0026
Epoch 11/20
32/32 [==============================] - 4s 114ms/step - loss: 0.0055 - mse: 0.0055 - val_loss: 0.0022 - val_mse: 0.0022
Epoch 12/20
32/32 [==============================] - 5s 155ms/step - loss: 0.0050 - mse: 0.0050 - val_loss: 0.0031 - val_mse: 0.0031
Epoch 13/20
32/32 [==============================] - 4s 114ms/step - loss: 0.0045 - mse: 0.0045 - val_loss: 0.0038 - val_mse: 0.0038
Epoch 14/20
32/32 [==============================] - 4s 115ms/step - loss: 0.0041 - mse: 0.0041 - val_loss: 0.0037 - val_mse: 0.0037

In [23]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 30, 256)           264192

 dropout (Dropout)           (None, 30, 256)           0

 lstm_1 (LSTM)               (None, 128)               197120

 dropout_1 (Dropout)         (None, 128)               0

 dense (Dense)               (None, 64)                8256

 dense_1 (Dense)             (None, 7)                 455

=================================================================
Total params: 470,023
Trainable params: 470,023
Non-trainable params: 0
_________________________________________________________________

In [25]:
### Get prediction on the test data and convert the result back to stock price (i.e., de-normalization)
from sklearn.metrics import mean_squared_error
y_pred = model.predict(X_test)
y_pred = np.reshape(y_pred, (-1, 1))
y_test = np.reshape(y_test, (-1, 1))
# Get prediction on the test data
print("MSE on the test set: ", mean_squared_error(y_pred, y_test))

126/126 [==============================] - 2s 12ms/step
MSE on the test set:  0.0035046333075473986

In [27]:
# Define the LSTM model2
model2 = Sequential()
model2.add(LSTM(256, return_sequences=True, input_shape=(30, 1), activation='relu'))  # LSTM layer with 128 units
model2.add(LSTM(128, activation='relu'))
model2.add(Dense(7))  # Dense output layer with 7 units

early_stopping = EarlyStopping(monitor='val_mse', patience=10, restore_best_weights=True)
model2.summary()

WARNING:tensorflow:Layer lstm_2 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
WARNING:tensorflow:Layer lstm_3 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_2 (LSTM)               (None, 30, 256)           264192

 lstm_3 (LSTM)               (None, 128)               197120

 dense_2 (Dense)             (None, 7)                 903

=================================================================
Total params: 462,215
Trainable params: 462,215
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Compile and train the model with Mean Squared Error loss function
model2.compile(optimizer= tf.keras.optimizers.Adam(learning_rate=0.01), loss='mse', metrics=['mse'])
model2.fit(X_train,y_train,validation_data=(X_val,y_val),epochs=50,batch_size=1028,verbose=1,callbacks = [early_stopping])

Epoch 1/20
32/32 [==============================] - 7s 131ms/step - loss: 5295.3994 - mse: 5295.3994 - val_loss: 0.0505 - val_mse: 0.0505
Epoch 2/20
32/32 [==============================] - 5s 140ms/step - loss: 0.0453 - mse: 0.0453 - val_loss: 0.0120 - val_mse: 0.0120
Epoch 3/20
32/32 [==============================] - 4s 114ms/step - loss: 0.0119 - mse: 0.0119 - val_loss: 0.0032 - val_mse: 0.0032
Epoch 4/20
32/32 [==============================] - 4s 115ms/step - loss: 0.0026 - mse: 0.0026 - val_loss: 0.0014 - val_mse: 0.0014
Epoch 5/20
32/32 [==============================] - 5s 151ms/step - loss: 0.0020 - mse: 0.0020 - val_loss: 0.0013 - val_mse: 0.0013
Epoch 6/20
32/32 [==============================] - 4s 112ms/step - loss: 0.0018 - mse: 0.0018 - val_loss: 0.0012 - val_mse: 0.0012
Epoch 7/20
32/32 [==============================] - 3s 109ms/step - loss: 0.0017 - mse: 0.0017 - val_loss: 9.7203e-04 - val_mse: 9.7203e-04
Epoch 8/20
32/32 [==============================] - 5s 156ms/step - loss: 0.0016 - mse: 0.0016 - val_loss: 9.4920e-04 - val_mse: 9.4920e-04
Epoch 9/20
32/32 [==============================] - 4s 118ms/step - loss: 0.0015 - mse: 0.0015 - val_loss: 8.9997e-04 - val_mse: 8.9997e-04
Epoch 10/20
32/32 [==============================] - 6s 191ms/step - loss: 0.0015 - mse: 0.0015 - val_loss: 8.7290e-04 - val_mse: 8.7290e-04
Epoch 11/20
32/32 [==============================] - 5s 141ms/step - loss: 0.0015 - mse: 0.0015 - val_loss: 8.8033e-04 - val_mse: 8.8033e-04
Epoch 12/20
32/32 [==============================] - 4s 110ms/step - loss: 0.0014 - mse: 0.0014 - val_loss: 8.3675e-04 - val_mse: 8.3675e-04
Epoch 13/20
32/32 [==============================] - 5s 151ms/step - loss: 0.0013 - mse: 0.0013 - val_loss: 8.1889e-04 - val_mse: 8.1889e-04
Epoch 14/20
32/32 [==============================] - 4s 112ms/step - loss: 0.0013 - mse: 0.0013 - val_loss: 7.9775e-04 - val_mse: 7.9775e-04
Epoch 15/20
32/32 [==============================] - 4s 113ms/step - loss: 0.0012 - mse: 0.0012 - val_loss: 7.9181e-04 - val_mse: 7.9181e-04
Epoch 16/20
32/32 [==============================] - 5s 143ms/step - loss: 0.0012 - mse: 0.0012 - val_loss: 7.7901e-04 - val_mse: 7.7901e-04
Epoch 17/20
32/32 [==============================] - 4s 114ms/step - loss: 0.0012 - mse: 0.0012 - val_loss: 7.1800e-04 - val_mse: 7.1800e-04
Epoch 18/20
32/32 [==============================] - 4s 110ms/step - loss: 0.0011 - mse: 0.0011 - val_loss: 7.1621e-04 - val_mse: 7.1621e-04
Epoch 19/20
32/32 [==============================] - 4s 129ms/step - loss: 0.0011 - mse: 0.0011 - val_loss: 7.1924e-04 - val_mse: 7.1924e-04
Epoch 20/20
32/32 [==============================] - 4s 129ms/step - loss: 0.0011 - mse: 0.0011 - val_loss: 6.5248e-04 - val_mse: 6.5248e-04

In [29]:
### Get prediction on the test data and convert the result back to stock price (i.e., de-normalization)
from sklearn.metrics import mean_squared_error
y_pred = model.predict(X_test)
y_pred = np.reshape(y_pred, (-1, 1))
y_test = np.reshape(y_test, (-1, 1))
# Get prediction on the test data
print("MSE on the test set: ", mean_squared_error(y_pred, y_test))

126/126 [==============================] - 1s 10ms/step
MSE on the test set:  0.0035046333075473986